[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
black = "*"
langchain-openai = "*"
unstructured = "*"
pypdf = "*"
chromadb = "*"
faiss-cpu = "*"
langchainhub = "*"
langserve = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
