[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langserve = {extras = ["all"], version = "*"}
openai = "*"
black = "*"
langchain-openai = "*"
unstructured = "*"
pypdf = "*"
chromadb = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
