.father {
  display: grid;
  grid-template-columns: 100px 200px 50px;
  grid-template-rows: 200px 100px;
  row-gap: 20px;
  column-gap: 10px;
}

.child {
  background-color: tomato;
  display: flex;
  font-size: 28;
  color: white;
  align-items: center;
  justify-content: center;
}
