.father {
  display: grid;
  grid-template-columns: [cucumber] 100px [potato] 200px [banana] 50px [brocoli];
  grid-template-rows: 200px 100px;
  row-gap: 20px;
  column-gap: 10px;
}

.child {
  background-color: tomato;
  display: flex;
  font-size: 28;
  color: white;
  align-items: center;
  justify-content: center;
}

.child:last-child {
  background-color: aqua;
  grid-column: potato / brocoli;
}

.child:first-child {
  grid-row: 1 / -1;
}
